<!-- How works Modal -->
<div class="modal fade" id="howWorks" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">How it works</h4>
            </div>
            <div class="modal-body">
                <p>Are you a fan of Pokemon Go, then this is the right place to get yourself more excited with new friends of similar interest.</p><br/>
                <p>After signing up, you can find number of other players who might also want to find new pokes.</p><br/>
                <p>Get yourself embraced with lot of excitement with new pokes. Happy Dating..</p>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
